<div class="container">
  <div class="col-xs-12">
    <h3 class="text-center">Все карточки</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Оригинал</th>
          <th>Перевод</th>
          <th>Колода</th>
          <th>Дата повторения</th>
        </tr>
      </thead>
      <% @cards.each do |card| %>
        <tbody>
          <tr>
            <td><%= card.original_text %></td>
            <td><%= card.translated_text %></td>
            <td><%= Deck.find(card.deck_id).description %></td>
            <td><%= card.review_date.to_formatted_s(:date_with_slashes) %></td>
            <td>
              <%= link_to "<i class='fa fa-pencil-square fa-2x'></i>".html_safe, edit_card_path(card), id: "Изменить" %>
              <%= link_to "<i class='fa fa-times fa-2x'></i>".html_safe, card_path(card), method: :delete, id: "Удалить" %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
