<div class="container">
  <div class="col-xs-12">
    <h3 class="text-center"><%= t "nav.decks.all_decks" %></h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><%= t "deck.description" %></th>
          <th><%= t "deck.cards_count" %></th>
          <th><%= t "deck.main_flag" %></th>
        </tr>
      </thead>
      <% @decks.each do |deck| %>
        <tbody>
          <tr>
            <td><%= deck.description %></td>
            <td><%= deck.cards.length %></td>
            <% if deck.main %>
              <td><i class='fa fa-flag fa-2x'></i></td>
              <td><%= link_to (t "deck.make_common"), make_common_path(id: deck.id), method: :patch %></td>
            <% else %>
              <td></td>
              <td><%= link_to "#{t 'deck.make_main'} <i class='fa fa-flag'></i>".html_safe, make_main_path(id: deck.id), method: :patch %></td>
            <% end %>
            <% unless deck.standart %>
              <td>
                <%= link_to "<i class='fa fa-pencil-square fa-2x'></i>".html_safe, edit_deck_path(deck), id: (t "default.edit") %>
                <%= link_to "<i class='fa fa-times fa-2x'></i>".html_safe, deck_path(deck), method: :delete, id: (t "default.delete"), data: { confirm: (t "deck.delete_confirm") } %>
              </td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
