<div class="container">
  <div class="col-xs-3"></div>
  <div class="col-xs-6 text-center">
    <div class="card_for_repeat">
      <% if @card.present? %>
        <%= simple_form_for :review, url: reviews_path do |f| %>
          <% if @card.picture.present? %>
            <%= image_tag @card.picture.url %>
          <% end %>
          <%= f.input :version_of_translation,
                       label: (t "review.question", original: @card.original_text) %>
          <%= f.hidden_field :card_id, value: @card.id %>
          <%= f.button :submit, (t "review.submit") %>
        <% end %>
      <% else %>
        <h3><%= t "review.empty" %></h3>
      <% end %>
    </div>
  </div>
  <div class="col-xs-3"></div>
</div>
