<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <title>Флэшкарточкер</title>
  <link rel="stylesheet" href="application.css">
</head>

<body>
  <section id="container">
    <header "clearfix">
        <h1><%= link_to "Флэшкарточкер", "/" %></h1>
      <ul class="nav navbar-nav">
        <li><%= link_to "Все карточки", "/show" %></li>
        <li><%= link_to "Добавить карточки" %></li>
      </ul>
    </header>

    <%= yield %>

  </section>
</body>
</html>
