<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <title>Флэшкарточкер</title>
  <link rel="stylesheet" href="application.css.scss">
</head>

<body>
  <div class="navbar navbar-inverse navbar-fluid-top">
    <div class="container">
      <div class="navbar-header">
        <a href="<%= root_path %>" class="navbar-brand">Флэшкарточкер</a>
      </div>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="<%= repeat_path %>" class="navbar-brand">Проверить карточку</a></li>
          <li><a href="<%= cards_path %>" class="navbar-brand">Все карточки</a></li>
          <li><a href="<%= new_card_path %>" class="navbar-brand">Добавить карточку</a></li>
        </ul>
      </div>
    </div>
  </div>

    <%= yield %>

</body>
</html>
